<h1 id="stompnotes1">StompNotes<a href="#fn:1" id="fnref:1" title="see footnote" class="footnote"><sup>1</sup></a></h1>

<h2 id="weveallbeeninthissituation:">We&#8217;ve all been in this situation:</h2>

<p>You&#8217;re reading a paragraph of text, minding your own business, when along comes a little super-imposed number<a href="#fn:1" title="see footnote" class="footnote"><sup>1</sup></a> directing you to either <em>stop</em> what you&#8217;re doing and reference a note in the back of the book(or if you&#8217;re lucky, at the end of the page) or just keep on reading so as not to interrupt your flow, even though in the back of your mind, you can&#8217;t help but wonder what kind of occult knowledge that little footnotes professes to hold the answers to.</p>

<h2 id="footnotesshouldntrequirethatkindofmentaleffort.">Footnotes shouldn&#8217;t require that kind of mental effort.</h2>

<p>If they did, they wouldn&#8217;t be footnotes, they&#8217;d just be notes. Am I right, or am I right<a href="#fn:2" id="fnref:2" title="see footnote" class="footnote"><sup>2</sup></a>? It&#8217;s either worth knowing, or it isn&#8217;t. The problem, though, is that you can&#8217;t <em>know</em> whether or not its worth knowing until you <em>know</em>it<a href="#fn:3" id="fnref:3" title="see footnote" class="footnote"><sup>3</sup></a>, so why make the reader work any harder than necessary for it?</p>

<h2 id="informationwantstobefree">Information wants to be free!!</h2>

<p>So stop hiding it. StompNotes is a simple solution to this problem. It allows you markup your footnotes in rich, creamy semantic HTML5<a href="#fn:4" id="fnref:4" title="see footnote" class="footnote"><sup>4</sup></a> and display them alongside their referrer. Your readers will have no <strong>excuse</strong><a href="#fn:5" id="fnref:5" title="see footnote" class="footnote"><sup>5</sup></a> but to read your footnotes now!</p>

<h2 id="howitworks.">How it works.</h2>

<p>Really well<a href="#fn:6" id="fnref:6" title="see footnote" class="footnote"><sup>6</sup></a>, thanks for asking.</p>

<h2 id="ontheagenda">On the agenda</h2>

<p>We&#8217;re still in the early stages here. StompNotes is just barely past a proof-of-concept at this point.</p>

<ul>
<li>Probably support for a simpler footnote format than the one used in Markdown</li>
<li>Support for Nelson HTML footnotes</li>
<li>Support for loading footnotes from a separate page, for longer documents that keep an index of footnotes in their own section</li>
<li>Maybe more<a href="#fn:7" id="fnref:7" title="see footnote" class="footnote"><sup>7</sup></a></li>
<li>Distribute by some means other than this.</li>
</ul>

<h2 id="thanks">Thanks</h2>

<div class="footnotes">
<hr />
<ol>

<li id="fn:1">
<p>Like this jerk right here. <a href="#fnref:1" title="return to body" class="reversefootnote">&#160;&#8617;</a></p>
</li>

<li id="fn:2">
<p>Hint: it doesn't matter which one you choose! Man, I love being right. <a href="#fnref:2" title="return to body" class="reversefootnote">&#160;&#8617;</a></p>
</li>

<li id="fn:3">
<p>Kind of a Catch&#8211;22, isn't it? <a href="#fnref:3" title="return to body" class="reversefootnote">&#160;&#8617;</a></p>
</li>

<li id="fn:4">
<p>Right now, it only supports the footnote format proposed by John Gruber, which is implemented in many Markdown processors. <a href="#fnref:4" title="return to body" class="reversefootnote">&#160;&#8617;</a></p>
</li>

<li id="fn:5">
<p>Ok, let&#8216;s not kid ourselves here — they will probably ignore them still, but that&#8217;s their problem. <a href="#fnref:5" title="return to body" class="reversefootnote">&#160;&#8617;</a></p>
</li>

<li id="fn:6">
<p>Actually, it could definitely stand to work better. It's a work&#8211;in&#8211;progress. <a href="#fnref:6" title="return to body" class="reversefootnote">&#160;&#8617;</a></p>
</li>

<li id="fn:7">
<p>Maybe less? There might be no real demand for this mind of thing. <a href="#fnref:7" title="return to body" class="reversefootnote">&#160;&#8617;</a></p>
</li>

</ol>
</div>
